<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/CSS/styles.css') }}">
</head>
<body>
<header>
    <div class="header">
        <nav>
            <ul>
                <li><a href="\signup">Sign Up</a></li>
                <li><a href="\login">Login</a></li>
            </ul>
        </nav>
    </div>
</header>
  <main>
    {% block content %}
    <section class="hero">
      <h2>Your Smart AI Study Buddy</h2>
      <p>AI providing you with detailed feedback on how to improve structure, grammar, and content. Upload your resume and receive a report in seconds! </p>
      <form class="upload_form" action="/upload" method="post" enctype="multipart/form-data">
        <label for="resume_input" class="upload_label" style="margin-bottom: 0;">Choose a file</label>
          <img style="padding: 20px;" src="static/img/upload.svg"/>
        <input type="file" id="resume_input" name="input_document" accept=".pdf,.doc,.docx">
        <button type="submit" class="upload_button">Upload</button>
        </form>
    </section>
    {% endblock %}
{% block error %}
{% endblock %}
{% block display %}
      <div class="card">
      <section class="how_it_works">
        <h2 id="how-it-works">How it works</h2>
        <ol id="list">
          <li class="htw"><span class="number">1</span> <strong>Upload your resume: &nbsp</strong> Upload a text (.txt) or word document (.docx)</li>
          <li class="htw"><span class="number">2</span> <strong>Our AI scans your resume: &nbsp</strong> Please wait for the process to complete!</li>
          <li class="htw"><span class="number">3</span> <strong>Receive a detailed report: &nbsp</strong> The AI will provide detailed and specific feedback on the strengths and weaknesses of your resume.</li>
          <li class="htw"><span class="number">4</span> <strong>Quality Score: &nbsp</strong> You will receive a quality score that tells you how professional and effective your resume is.</li>
        </ol>
        <p style="text-align: left;">Get started now and take your resume to the next level!</p>
      </section>
    </div>
{% endblock %}
</body>
</html>