<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/CSS/styles.css') }}">
</head>
<body>
<header>
    <div class="header">
        <nav>
            <ul>
                <li><a href="\signup">Sign Up</a></li>
                <li><a href="\login">Login</a></li>
            </ul>
        </nav>
    </div>
</header>
  <main>
    {% block content %}
    <section class="hero">
      <h2>Your Smart AI Study Buddy</h2>
      <p>An AI that provides you with detailed feedback on your knowledge of a specific topic. Upload your notes and start studying today!</p>
      <form class="upload_form" action="/chat" method="post" enctype="multipart/form-data">
        <label for="file_upload" class="upload_label" style="margin-bottom: 0;"><img style="padding: 20px;" src="static/img/upload.svg"></label>
        <input type="file" id="file_upload" name="input_document" accept=".pdf,.doc,.docx" onchange="getFileData();">
          <p id="uploaded_file"></p>
        <button type="submit" class="upload_button">Submit</button>
        </form>
    </section>
    {% endblock %}
{% block error %}
{% endblock %}
</body>
</html>
